extends layout

block content
  h1 Mario Kart scoreboard
    div.scoreboard
      table.table__scoreboard
        tr
          th Character
          th Score
        tr
        tr
          th Mario
          th 0
        tr
        tr
          th Luigi
          th 0
        tr
        tr
          th Princess Peach
          th 0
        tr
        tr
          th Yoshi
          th 0
        tr
        tr
          th Donkey Kong Jr.
          th 0
        tr
        tr
          th Koopa Troopa
          th 0
        tr
        tr
          th Toad
          th 0
        tr
  script(src='/javascripts/app.js')