extends layout

block content
  h1 Mario Kart scoreboard
    div.scoreboard
      table.table__scoreboard
        tr
          th Character
          th Score
        tr
        tr
          td Mario
          td 0
        tr
        tr
          td Luigi
          td 0
        tr
        tr
          td Princess Peach
          td 0
        tr
        tr
          td Yoshi
          td  0
        tr
        tr
          td Donkey Kong Jr.
          td 0
        tr
        tr
          td Koopa Troopa
          td 0
        tr
        tr
          td Toad
          td 0
        tr
  script(src='/javascripts/app.js')